.filters{
    width: 25%;
    padding: 0 30px;
    position: fixed;
    left: 0;
}

.filters .filterIcon{
    margin: 0 10px;
}

.filters .buttons{
    display: flex;
    flex-direction: column;
}

.filters h1{
    font-size: 20px;
}

.filters h3{
    font-size: 16px;
    margin: 15px 0;
}

.filters button{
    margin: 15px 0;
    display: flex;
    max-width: 250px;
}

@media (max-width: 1350px){
    .filters span{
        font-size: 15px !important;
    }
}

@media (max-width: 1000px){
    .filters {
        position: static;
        width: 100%;
        padding: 0;
    }

    .filtersContainer{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 660px){
    .filtersContainer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .filtersContainer .buttons{
        grid-column: 1/3;
        align-items: center;
    }

    .filters button{
        max-width: 100%;
        width: 80%;
    }
}

@media (max-width: 420px){
    .filtersContainer{
        display: flex;
        flex-direction: column;
    }

    .filters button {
        width: 100%;
    }
}