@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

:root{
  --color-storange: #F94700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar-track{
	background-color: #F3F3F3;
}

::-webkit-scrollbar{
	width: 12px;
	background-color: #F3F3F3;
}

::-webkit-scrollbar-thumb{
	background-color: var(--color-storange);
}

.filterSpinner{
  padding: 40px 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-storange);
}

.loadingSpinner{
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-storange);
}

.loadingSpinner h1{
  color: black;
}