.recogerEnviarContainer .fluxSection{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    overflow-y: hidden;
}

.recogerEnviarContainer .fluxSection .test{
    overflow: hidden;
    width: 100%;
    /* min-height: 856px !important; */
    margin: 0;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px dashed black; */
    box-sizing: border-box;
    flex: 0 0 auto;
    transition: .3s;
    z-index: 0;
    /* transform: translateX(1668px); */
}

.recogerEnviarContainer .section .resumen{
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    width: 100%;
    height: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.recogerEnviarContainer .resumen p{
    margin: 20px 0;
    display: flex;
}

.recogerEnviarContainer .resumen p span:nth-child(1){
    display: inline-block;
    font-weight: bold;
    width: 200px;
}

.recogerEnviarContainer .resumen p span:nth-child(2){
    width: 100%;
    font-weight: normal;
    display: flex;
    justify-content: flex-end;
}

.swal2-styled.swal2-confirm {
    background-color: var(--color-storange) !important;
}

.swal2-styled.swal2-confirm:focus {
    box-shadow: 0 0 0 3px rgba(212, 139, 55, 0.5) !important;
}